In [1]:
import pandas as pd
import numpy as np

In [2]:
df_sample_names = pd.read_csv("belly_button_biodiversity_samples.csv")

In [3]:
df_sample_names.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [5]:
from flask import Flask
app = Flask(__name__)
from flask_sqlalchemy import SQLAlchemy
app.config['SQLALCHEMY_DATABASE_URI'] = "sqlite:///belly_button_biodiversity.sqlite"

db = SQLAlchemy(app)

/Users/pgarias/Desktop/RutgersDataScienceBootcamp/python_environments/python3env/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [6]:
engine = create_engine("sqlite:///belly_button_biodiversity.sqlite")
inspector = inspect(engine)

In [7]:
inspector.get_table_names()

['otu', 'samples', 'samples_metadata']

In [8]:
columns = inspector.get_columns('otu')
for column in columns:
    print(column["name"], column["type"])

otu_id INTEGER
lowest_taxonomic_unit_found TEXT

In [9]:
columns = inspector.get_columns('samples_metadata')

In [10]:
[(item['name'],item['type']) for item in columns][1:]

[('EVENT', TEXT()),
 ('ETHNICITY', TEXT()),
 ('GENDER', TEXT()),
 ('AGE', INTEGER()),
 ('WFREQ', INTEGER()),
 ('BBTYPE', TEXT()),
 ('LOCATION', TEXT()),
 ('COUNTRY012', TEXT()),
 ('ZIP012', INTEGER()),
 ('COUNTRY1319', TEXT()),
 ('ZIP1319', INTEGER()),
 ('DOG', TEXT()),
 ('CAT', TEXT()),
 ('IMPSURFACE013', INTEGER()),
 ('NPP013', FLOAT()),
 ('MMAXTEMP013', FLOAT()),
 ('PFC013', FLOAT()),
 ('IMPSURFACE1319', INTEGER()),
 ('NPP1319', FLOAT()),
 ('MMAXTEMP1319', FLOAT()),
 ('PFC1319', FLOAT())]

In [11]:
data = engine.execute("select AGE, BBTYPE,ETHNICITY,GENDER,LOCATION,SAMPLEID from samples_metadata")
#data = engine.execute("select * from samples_metadata")

In [12]:
#[item for item in data]

In [13]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes['samples_metadata']
session = Session(bind=engine)
samples = session.query(Base.classes.samples_metadata).filter(Base.classes.samples_metadata.SAMPLEID=="941")
sm, = samples.all()

In [14]:
sm.AGE

34

In [61]:
Base = automap_base()
Base.prepare(engine, reflect=True)
sampleClass = Base.classes.samples
session = Session(bind=engine)
samples = session.query(sampleClass.otu_id,sampleClass.__dict__['BB_944']) \
.filter(sampleClass.__dict__['BB_944']>0) \
.order_by(sampleClass.otu_id.desc())

In [66]:
samples.all()[0:5]
otu_ids = [item[0] for item in samples.all()]
sample_values = [item[1] for item in samples.all()]

In [17]:
data = engine.execute("select * from samples")

In [18]:
sm.BB_1285

AttributeError: 'samples_metadata' object has no attribute 'BB_1285'

In [33]:
data = engine.execute("select otu_id,BB_940 from samples where BB_940>0 order by otu_id desc")

In [34]:
for item in data:
    print(item)

(3453, 1)
(3450, 37)
(3439, 1)
(3427, 1)
(2994, 1)
(2989, 1)
(2985, 1)
(2968, 1)
(2964, 10)
(2949, 1)
(2936, 3)
(2917, 1)
(2915, 1)
(2908, 7)
(2876, 1)
(2873, 1)
(2859, 126)
(2852, 1)
(2840, 1)
(2837, 1)
(2829, 1)
(2820, 1)
(2811, 13)
(2795, 1)
(2782, 12)
(2758, 1)
(2753, 1)
(2752, 1)
(2750, 1)
(2739, 4)
(2737, 4)
(2722, 8)
(2633, 1)
(2603, 1)
(2571, 2)
(2549, 1)
(2546, 2)
(2542, 1)
(2539, 1)
(2508, 1)
(2491, 2)
(2483, 2)
(2475, 2)
(2473, 1)
(2423, 1)
(2419, 13)
(2413, 1)
(2396, 11)
(2350, 2)
(2342, 2)
(2335, 3)
(2334, 1)
(2318, 40)
(2291, 2)
(2275, 22)
(2268, 1)
(2264, 78)
(2263, 1)
(2256, 1)
(2247, 11)
(2244, 14)
(2235, 2)
(2229, 1)
(2217, 1)
(2216, 1)
(2212, 1)
(2202, 1)
(2197, 1)
(2192, 1)
(2191, 28)
(2188, 2)
(2186, 3)
(2184, 19)
(2178, 7)
(2167, 5)
(2165, 1)
(2136, 1)
(2115, 1)
(2114, 1)
(2110, 2)
(2096, 1)
(2093, 1)
(2084, 1)
(2080, 1)
(2077, 23)
(2068, 1)
(2065, 2)
(2062, 1)
(2054, 1)
(2051, 1)
(2040, 1)
(2039, 5)
(2036, 1)
(2024, 13)
(2011, 11)
(1997, 1)
(1991, 1)
(1984, 1)
(1977, 40)
(1968, 2)
(1965, 1)
(1962, 3)
(1960, 2)
(1959, 30)
(1954, 1)
(1950, 25)
(1947, 1)
(1944, 1)
(1935, 1)
(1795, 10)
(1600, 1)
(1576, 1)
(1524, 1)
(1515, 1)
(1505, 2)
(1503, 2)
(1502, 1)
(1501, 1)
(1498, 2)
(1497, 2)
(1496, 1)
(1495, 1)
(1484, 1)
(1314, 3)
(1274, 4)
(1254, 1)
(1243, 1)
(1232, 2)
(1227, 1)
(1223, 1)
(1217, 1)
(1208, 5)
(1199, 1)
(1193, 6)
(1191, 1)
(1189, 51)
(1179, 1)
(1174, 1)
(1169, 2)
(1167, 163)
(1159, 1)
(1155, 1)
(1115, 1)
(1094, 1)
(944, 19)
(922, 1)
(919, 1)
(907, 3)
(881, 1)
(874, 36)
(866, 1)
(854, 1)
(841, 1)
(833, 3)
(830, 10)
(821, 1)
(794, 1)
(791, 1)
(728, 1)
(725, 2)
(650, 1)
(620, 1)
(593, 1)
(564, 1)
(513, 2)
(482, 113)
(414, 1)
(412, 2)
(407, 1)
(404, 1)
(400, 1)
(386, 1)
(381, 1)
(373, 1)
(361, 1)
(359, 1)
(357, 2)
(352, 50)
(342, 2)
(340, 2)
(328, 1)
(327, 1)
(320, 1)
(314, 1)
(307, 7)
(300, 1)
(259, 2)
(258, 2)
(246, 1)
(244, 1)
(235, 1)
(226, 1)
(198, 1)
(189, 47)
(185, 1)
(170, 2)
(165, 12)
(159, 2)
(154, 1)
(133, 1)
(122, 1)
(121, 2)
(102, 1)
(93, 1)
(84, 1)
(81, 1)
(79, 1)
(42, 1)
(41, 71)
(39, 1)
(24, 1)
(22, 1)
(19, 1)
(11, 1)

In [19]:
otu_ids

NameError: name 'otu_ids' is not defined

In [20]:
dfbbs = pd.read_csv("belly_button_biodiversity_samples.csv")

In [26]:
dfbbs[['otu_id','BB_940']][dfbbs["BB_940"]>0]

      otu_id  BB_940
10        11     1.0
18        19     1.0
21        22     1.0
23        24     1.0
38        39     1.0
40        41    71.0
41        42     1.0
78        79     1.0
80        81     1.0
83        84     1.0
92        93     1.0
101      102     1.0
120      121     2.0
121      122     1.0
132      133     1.0
153      154     1.0
158      159     2.0
164      165    12.0
169      170     2.0
184      185     1.0
188      189    47.0
197      198     1.0
225      226     1.0
234      235     1.0
243      244     1.0
245      246     1.0
257      258     2.0
258      259     2.0
299      300     1.0
306      307     7.0
...      ...     ...
2738    2739     4.0
2749    2750     1.0
2751    2752     1.0
2752    2753     1.0
2757    2758     1.0
2781    2782    12.0
2794    2795     1.0
2810    2811    13.0
2819    2820     1.0
2828    2829     1.0
2836    2837     1.0
2839    2840     1.0
2851    2852     1.0
2858    2859   126.0
2872    2873     1.0
2875    2876     1.0
2907    2908     7.0
2914    2915     1.0
2916    2917     1.0
2935    2936     3.0
2948    2949     1.0
2963    2964    10.0
2967    2968     1.0
2984    2985     1.0
2988    2989     1.0
2993    2994     1.0
3426    3427     1.0
3438    3439     1.0
3449    3450    37.0
3452    3453     1.0

[214 rows x 2 columns]